<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script data-require="angular-route@*" data-semver="1.2.20" src="https://code.angularjs.org/1.2.20/angular-route.js"></script>
<script src="foo.js"> </script>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>



<body>

<div ng-app="fooApp" ng-controller="fooCtrl">

<br> {{myWelcome}}
<br> {{myGuideToStartL1}}
<br> {{myGuideToStartL2}}
<br>
    <button ng-click="fetch()">Fetch</button> 
<br>
 <input ng-model="addFooName"> 
 <input ng-model="addFooHeight">  
 <button ng-click="addFoo()">Add</button> 
<br>
start listFoo
<br>
<table>

  <tr ng-repeat="x in ListFoo">
    <td>{{ x.id | number }}</td>
    <td>{{ x.name}}</td>
    <td>{{ x.height| number }}</td>
  </tr>
</table>

<br>
end listFoo
 <input ng-model="addFooName"> 
 <input ng-model="addFooHeight">  
 <button ng-click="addFoo()">Add</button> 
 <button ng-click="fetch()">Fetch</button> 


<table>
  <tr>
    <td>{{ Foo.sn }}</td>
    <td>{{ Foo.factor }}</td>
  </tr>
</table>

<ul>
<li ng-repeat="x in cars">{{x}}  </li>
</ul>
 <input ng-model="addModel">
 <input ng-model="addColor">
  <button ng-click="addCar()">Add</button>

<ul>
  <li ng-repeat="x in myData">
    {{ x.Name + ', ' + x.Country }}
  </li>
</ul>


</div>


</body>
</html>

